{{define "root-body"}}
<div>
    login page
<form class="ui form" method="POST">
	<div>
		<label>Username</label>
		<input>
	</label>
	</div>
	<div class="field">
		<label>Password</label>
		<input type="password">
	</div>
	<button class="ui submit blue button">Login</button>
	</form>
</div>
{{end}}    

{{define "root-script"}}
<script>
console.log("login")
</script>
{{end}}

{{define "root-style"}}
{{end}}